<MainContainer>
  <div class="dog dog-details-page">
    <Dog::Image />
    <Dog::Details />
  </div>
  <h5 class="mt-5">About Saul</h5>
  <ul>
    <li>Breed: Lab</li>
    <li>Owner: Dave</li>
    <li>Size: LG</li>
    <li>Description: An energetic lab that loves to play</li>
    <li>Meals: Breakfast: Acorns, Dinner: kibble</li>
    <li>Activities: Walks, belly rubs, naps</li>
  </ul>
</MainContainer>